<h1>ようこそ、「やまのかたりば」へ!</h1>
<p>このサイトは雑談・交流等を目的とした掲示板です。<br>無料でどなたでもご自由にご利用いただけます。</p>
<h3><%= link_to "掲示板", :articles %></h3>
<p>※掲示板への書き込み・閲覧には新規メンバー登録が必要です。</p>
<h3><%= link_to("新規登録はこちらから!!", "https://forms.gle/m3LaK39oeA96xRjB7") %></h3>
<p>(<%= link_to "利用規約", :about %>もよく読んでネ)</p>
<h3>=================================</h3>
<h3>◎管理人の連絡先◎</h3>
<p><%= link_to "やまなみのTwitter", "https://twitter.com/yamanami_1999" %><br>削除依頼等はこちらのDMにお願いします。</p>
<h3>=================================</h3>
<h3>☆掲載する広告を募集しています!!☆</h3>
<p>現在、やまのかたりばでは掲載する広告を募集しています。<br>詳細につきましては<%= link_to "やまなみのTwitter", "https://twitter.com/yamanami_1999" %>
のDMまで<br>お気軽にお問い合わせください。</p>
