<% @page_title = "メンバープロフィールの編集" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "メンバープロフィールに戻る", @member %></div>

<%= form_for @member do |form| %>
  <%= render "shared/member_form", form: form %>
  <div><%= form.submit %></div>
<% end %>
